# Ignore .txt files
*.txt

# Ignore .o files
*.o

# Ignore .bin files
*.bin

# Ignore .elf files
*.elf

# Ignore .map files
*.map

# Ignore .su files
*.su

# Ignore Eclipse settings
.settings/

# Ignore Visual Studio Code settings
.vscode/
